@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div style="color:white">
    <h2>Contact</h2>
    <address>

        <strong>Contact: </strong> <a href="">niklas.p.karlsson@gmail.com</a><br />
        <!----<strong>Contact:</strong> <a style="color:white" href="mailto:niklas.p.karlsson@gmail.com">niklas.p.karlsson@gmail.com</a><br /> --->
        Sweden<br />
        Stockholm<br />

    </address>

</div>
